
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}


body {
  margin: 0;
  padding: 0;
}

.boxIntro {
  margin-left:-72px;
}


.bg-image {
  opacity: 80%;
  position: absolute;
  z-index: -5;
}


.container {
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}

.boxIntro .btnCont  {
  margin-left:480px;
  margin-top: 350px;
}


.btnCont {
  margin-left:100px;  
  margin-top: 300px;
  margin-left: 400px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  border-style: none;
  z-index: 1;
}

.btnCont:hover {
  cursor: pointer;
  background-color: skyblue
}
.btnCont2 {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  margin-left:10px;
  border-style: none;

}

.btnCont2:hover {
  cursor: pointer;
  background-color: skyblue
}

/* LOGIN */

.loginContainer {
  padding-top:200px;
  padding-right: 330px;
  padding-left:330px;
  padding-bottom: 220px;
  background-color: skyblue
}

.loginText {
  text-transform: uppercase;
  text-decoration: none;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  display: flex;
}

.loginText:hover {
  text-decoration: underline;
}

.inputBox {
  border: none;
  border-bottom: 1px solid #00000066;

}

.loginBox {
  background-color: white;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 90px;
  padding-left: 100px;
}

.text-login {
  font-weight: 800;
}



/* SIGN IN */

.signinText {
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  
}

.signinText:hover {
  text-decoration: underline;
}

.user-box {
  background-color: whitesmoke ;
  
}

/* REGISTRATION */


.containerRegistration {
  padding-top:200px;
  padding-bottom: 320px;
  background-color: skyblue
}

.containerRegistration .formArea {
  margin-left:360px;
  background-color: white;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
}

.inputRegister {
  border: none;
  padding: 5px;
  border-bottom: 1px solid #00000066;
  width: 350px;
  margin-left: 150px;
  
}

.btnRegister {
  margin-left: 150px;
}




.welcome-text {
  font-weight: 800;
  display: flex;
  position: absolute;
  margin-top: 40px;
}

.logoutBtn {
  margin-left: 110px;
  margin-bottom: 40px;
  margin-top:5px;
  width: 100px;
  position: relative;
}

.homeTag {
  margin-left:220px;
  margin-top: 30px;
}